/* write your css here */
html,
body {
  overflow-x: hidden;
}

.text-gradient {
  background: linear-gradient(
      118.19deg,
      #1fa2ff -3.62%,
      #12d8fa 50.44%,
      #a6ffcb 104.51%
    ),
    linear-gradient(0deg, #f1f2ff, #f1f2ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-shadow-1 {
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.18) inset;
}

.btn-shadow-2 {
  box-shadow: -2px -2px 0px 0px rgba(255, 255, 255, 0.18) inset;
}

.code-border {
  background: linear-gradient(
    111.93deg,
    rgba(14, 26, 45, 0.24) -1.4%,
    rgba(17, 30, 50, 0.38) 104.96%
  );
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right bottom, #ffffff38, #ffffff00);
}

.codeblock-1,
.codeblock-2 {
  border-radius: 100%;
  -webkit-filter: blur(34px);
  filter: blur(34px);
  height: 257.05px;
  left: calc(50% - 263.005px);
  opacity: 0.2;
  top: calc(50% - 175.995px);
  -webkit-transform: matrix(1, 0, -0.03, 1, 0, 0);
  transform: matrix(1, 0, -0.03, 1, 0, 0);
  width: 372.95px;
}

.codeblock-1 {
  background: linear-gradient(
    123.77deg,
    #8a2be2 -6.46%,
    orange 59.04%,
    #f8f8ff 124.53%
  );
}

.codeblock-2 {
  background: linear-gradient(
    118.19deg,
    #1fa2ff -3.62%,
    #12d8fa 50.44%,
    #a6ffcb 104.51%
  );
}

.homepage_bg {
  background: url(./assets/Images/bghome.svg);
}

.timeline-gradient {
  position: absolute;
  width: 749.26px;
  height: 479.64px;
  left: calc(50% - 749.26px / 2 + 645.63px);
  top: calc(50% - 479.64px / 2 - 4.21px);
  background: linear-gradient(
    117.82deg,
    #9cecfb -9.12%,
    #65c7f7 48.59%,
    #0052d4 106.3%
  );
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);
  opacity: 0.6;
}

.rotate-learning-image-1,
.rotate-learning-image-2,
.rotate-learning-image-3 {
  transition: all 300ms;
  /* z-index: -1; */
}

.rotate-learning-image-1:hover {
  transform: rotate(-15deg);
}

.rotate-learning-image-2:hover {
  transform: rotate(9deg);
}

.rotate-learning-image-3:hover {
  transform: rotate(-10deg);
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid #f1f2ff;
  animation: spinner-bulqg1 0.8s infinite linear alternate,
    spinner-oaa3wk 1.6s infinite linear;
}

.form-style {
  @apply rounded-[0.5rem] bg-richblack-800 p-[12px] text-richblack-5;
  box-shadow: "inset 0px -1px 0px  rgba(255,255,255,0.18)";
}

.scale {
  @apply hover:scale-95 hover:shadow-none transition-all duration-200;
}

.blackButton {
  @apply cursor-pointer rounded-md bg-richblack-800 px-[20px] py-[8px] font-semibold text-richblack-5;
}

.label-style {
  @apply text-[14px] text-richblack-5;
}
